#atm {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  select,
  input[type="password"],
  input[type="number"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  #options,
  #balance,
  #amount,
  #newBalance,
  #withdraw,
  #newBalanceWithdraw {
    display: none;
} 

#inputAmount,
  #withdrawAmount {
    width: 60%;
    margin-right: 10px;
    font-size: 16px;
}